# Lab 6 - 1828258 Pranav Shekhar

## Q1. Find the square and cube of a number.

In [3]:
num = int(input("Enter the number: "))
choice = int(input("Enter your choice:\n1. Square\n2. Cube\nchoice: "))

if choice == 1:
    print("Square of the number is:", num**2)
elif choice == 2:
    print("Cube of the number is:", num**3)
else:
    print("Invalid Input!")

Cube of the number is: 8

## Q2. WAP to match whether your guessed values are same as that of scored values and also find the grades of scored values.

In [5]:
import pandas as pd

data = pd.DataFrame({
    "Name": ['Raj', 'Rohan', 'Adit', 'Nancy', 'Priyanka'],
    "Marks": [91, 72, 82, 60, 80],
    "Grade": ['O', 'A', 'E', 'B', 'A']
})

data

       Name  Marks Grade
0       Raj     91     O
1     Rohan     72     A
2      Adit     82     E
3     Nancy     60     B
4  Priyanka     80     A

In [27]:
name = input("Enter the name of the student: ")

if name in list(data['Name']):
    guessedMark = int(input(f"Guess the marks of {name}: "))
    guessedGrade = input(f"Guess the grade of {name}: ")

    if data[data['Name'] == name]['Marks'][0] == guessedMark:
        print("You have guessed the mark correctly!")
    else:
        print("You have guessed the mark incorrectly!")

    if data[data['Name'] == name]['Grade'][0] == guessedGrade:
        print("You have guessed the mark correctly!")
    else:
        print("You have guessed the mark incorrectly!")
else:
    print("Student record doesn't exist!")

You have guessed the mark correctly!
You have guessed the mark correctly!

## Q3. WAP to prepare a shopping list, atleast 10 inputs and to display the item which has max priority.

In [28]:
itemName = []
priority = []

n = int(input("Enter the number of items (at least 10): "))

for i in range(n):
    itemName.append(input(f"Enter item {i+1} name: "))
    priority.append(int(input("Enter priority: ")))
    print(f"Item Name: {itemName[i]}, Item Priority: {priority[i]}")

print(f"Item with max priority: {itemName[priority.index(max(priority))]}")

Item with max priority: sdfsdf

## Q4. WAP to calculate the cost of filling a cylinder @ ₹235/Cu.m and also the time to fill if it takes 14 minutes to fill 1 cu.m.

In [42]:
radius = float(input("Enter the radius of the cylinder (in meters): "))
height = float(input("Enter the height of the cylinder (in meters): "))

volume = 3.14 * radius * radius * height

print(f"The cost of filling the cylinder: ₹{volume*235}")
print(f"The time required to fill the cylinder: {volume*14} minutes")

The cost of filling the cylinder: ₹73790.0
The time required to fill the cylinder: 4396.0 minutes

## Q5. WAP to store a student list with all the details of a student and give warning to students with attendance less than 60.

In [34]:
n = int(input("Enter the number of students: "))
students = pd.DataFrame(columns=['Name', 'Marks', 'Grade', 'Attendance'])

for i in range(n):
    name = input("Student Name: ")
    marks = int(input("Student Marks: "))
    grade = input("Student Grade: ")
    attendance = input("Student Attendance: ")
    students.loc[i] = [name, marks, grade, attendance]

students

     Name Marks Grade Attendance
0     Raj    91     O         90
1  Nikhil    80     E         50
2   Nancy    70     A         70
3   Varun    90     O         40
4   Rahul    60     B         20

In [41]:
for i, attendance in enumerate(list(students['Attendance'])):
    if int(attendance) < 60:
        print(f"Attendance of {students['Name'][i]} is low!")

Attendance of Nikhil is low!
Attendance of Varun is low!
Attendance of Rahul is low!

In [1]:
a = int(input())
b = int(input())

num = a ** b

x = num%10

print(x)

6