# Lab 7 - 1828258 Pranav Shekhar

In [1]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [2]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [3]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "RAM", child2 = "TOM", child3 = "LAL")

The youngest child is LAL

## *1. Create a function that accepts two arguments age and name and print it's value*

In [4]:
def fun(age, name):
    print("Name:- ", name)
    print("Age:- ", age)

fun(name = "Pranav", age = "20")

Name:-  Pranav
Age:-  20

## *2. Create a function showEmployee() such that it should accept employee name and it's salary and print their value, and if salary is missing it should show it to be 50000.*

In [5]:
def showEmployee(name, salary=50000):
    print("Name:- ", name)
    print("Salary:- ", salary)

showEmployee("Pranav")

Name:-  Pranav
Salary:-  50000

## *3. Print multipication table of 7 using recursion. *

In [9]:
def mul_table(n, i): 
      
    if (i > 10): 
        return
       
    print(n,"*",i,"=",n * i) 
      
   
    return mul_table(n, i + 1)

mul_table(7,1)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

## *4. Recursive Function to calculate sum of numbers 0 to 10. *

In [11]:
def recur_sum(n):
   if n <= 1:
       return n
   else:
       return n + recur_sum(n-1)

num = 10

print("The sum is",recur_sum(num))

The sum is 55

## *5. Function to generate a list of all even numbers between 2 to 100. *

In [12]:
def generate_list(start,end):
    for num in range(start, end + 1): 
        if num % 2 == 0: 
            print(num, end = " ")

generate_list(2,100)

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

## *Pattern 1*

In [13]:
for i in range(0,4):
    print("*****")

*****
*****
*****
*****

## *Pattern 2*

In [15]:
for i in range (ord('A'),ord('F')):
    for j in range(ord('A'),ord('F')):
        print(chr(i),end="")
        
    print()

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

## *Pattern 3*

In [16]:
    num = 1
    for i in range(0, 5):
        num = 1
        for j in range(0, i+1):
            print(num, end=" ")
            num = num + 1
     
    
        print("\r")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## *Pattern 4*

In [22]:
text = "PRABHU"
for index in range(len(text)): 
    print(*text[:index + 1])

P
P R
P R A
P R A B
P R A B H
P R A B H U

## *Pattern 5*

In [28]:
text2 = "EDCBA"
for i in range(5): 
    print(text2[0:5-i],end=" ")
    print()

EDCBA
EDCB
EDC
ED
E