# Lab 9 - 1828258 Pranav Shekhar

In [2]:
tup1 = ('physics', 'chemistry', 'biology', 'english',97, 100,88,92)
tup2 = (1, 2, 3, 4, 5 )

print(tup1)
print ("tup1[2]: ", tup1[2])

('physics', 'chemistry', 'biology', 'english', 97, 100, 88, 92)
tup1[2]:  biology

In [3]:
print ("tup2[2:5]: ", tup2[2:5]);

tup2[2:5]:  (3, 4, 5)

In [5]:
tup3 = ('Prnav', 'Neelanjan', 'Praddyum')
tup4 = (1,2,3)
tup5 = tup3 + tup4;
print(tup5)

('Prnav', 'Neelanjan', 'Praddyum', 1, 2, 3)

In [8]:
del tup2
len(tup5)

6

In [10]:
tup = ('Pranav ')*4
print(tup)

Pranav Pranav Pranav Pranav

In [13]:
tupp= (tup3 + tup5)
print(tupp)

('Prnav', 'Neelanjan', 'Praddyum', 'Prnav', 'Neelanjan', 'Praddyum', 1, 2, 3)

In [16]:
tupf = ("apple", "banana", "cherry")
print('cherry' in tupf)
tupg = tupf

True

In [17]:
print(id(tupf))
print(id(tupg))

1448555528624
1448555528624

## 1. WAP TO PICK THE 3RD , 4TH N 5TH OBJECT AND CREATE ANOTHER TUPPLE WITH THE SAME

In [24]:
l = []
tupa = ("apple", "banana", "cherry", "mango", "grapes")
for i in range(2,len(tupa)):
    l.append(i)
l
tupb = tuple(l)
print(tupb)

(2, 3, 4)

## 2. Counts the number of occurrences of  an item  from a tuple of min 10 elements.

In [26]:
def countEl(tup, x): 
    count = 0
    for ele in tup: 
        if (ele == x): 
            count = count + 1
    return count 

tupc = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2) 
el = 8
print(countEl(tupc, el))

4

## 3. Write a Python program calculate the product, multiplying all the numbers  with 35.

In [35]:
tuple([35*i for i in (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)])

(350, 280, 175, 70, 350, 525, 350, 280, 175, 280, 280, 70)

## 4. Write a Python program to replace last value of tuples in a list. Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [37]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 100)]
print([t[:-1] + (90,) for t in l])

[(10, 20, 90), (40, 50, 90), (70, 80, 90)]

## 5. Write a Python program to find the length of a tuple

In [38]:
len(l)

3